numpy
pandas
scikit-learn
nltk
matplotlib
seaborn
fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
deep-translator
torch
torchvision
torchaudio
transformers
pillow
opencv-python
pydantic-settings
gunicorn
psycopg2-binary
reportlab
